html,
body,
p {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.user {
  color: red;
  margin: 1rem 0 0 0;
}

.noaccess {
  color: red;
  background-color: #000;
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
